# ===== GitHub Configuration =====
GITHUB_TOKEN=ghp_xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
GITHUB_OWNER=fantzydek
GITHUB_REPO=database2
GITHUB_FILE_PATH=tokenv2.json
GITHUB_USERS_PATH=users.json
GITHUB_BRANCH=main

# ===== Admin Account =====
ADMIN_USERNAME=admin
ADMIN_PASSWORD=ganti_password_admin_yang_kuat

# ===== Session =====
SESSION_SECRET=random_string_panjang_minimal_32_karakter_abcxyz123
